{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" value="{{ symbol }}" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto no-spinner" min="0.001" step="0.001" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary action-button" type="submit">Buy</button>
    </form>
{% endblock %}
