{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <header>
        <div class="alert alert-primary mb-0 text-center" role="alert">Sold!</div>
    </header>
    <h3 style="font-style: italic; margin-top: 3vh; font-size: 2.5vh">You just sold {{ shares }} shares of {{ name }} ({{ symbol }}) for ${{ price }} per share totaling ${{ ((shares | float) * price) | round(2)}}!</h3>
    <p style="margin-top: 1vh; font-size: 1.5vh">To see your updated portfolio, click <a action="/" method="get" href="/">here</a>.</p>
{% endblock %}
